{% extends "users.html" %}
{% block page_content %}
    {% if current_user.is_authenticated %}
    <h2>Здравствуйте, {{ current_user.name_user }}!</h2>
	<a href="{{ url_for('quit') }}">Выйти</a>
    {% else %}
    <h2>Пройдите авторизацию</h2>
    <p><a href="{{ url_for('reg') }}">Регистрация</a> или <a href="{{ url_for('login') }}">Вход в личный кабинет</a>.</p>
    {% endif %}
{% endblock %}
