{% extends "users.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<h1>Регистрация</h1>
	<p>Для регистрации потребуется ПО <a href="https://itunes.apple.com/us/app/freeotp/id872559395">iTunes</a> | <a href="https://play.google.com/store/apps/details?id=org.fedorahosted.freeotp">Google Play</a></p>
    {{ wtf.quick_form(form) }}
    <br>
    {% endblock %}
