{% extends "bootstrap/base.html" %}
{% block title %}Вход в личный кабинет{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
			<a class="navbar-brand" href="{{ url_for('index') }}">Вход в личный кабинет</a>
        </div>
        <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Главная</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
                
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
